#color-dep{
    background-color: blueviolet;
}
#color-sub{
    background-color:brown;
}

#formulario{
    display: inline-block;
}
header{
    display: block;    
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(53, 53, 145);
}
#logo{
    height: 100px;
    display: inline-block;
    width: 10%;    
}
#logo>img{
    width: 100%;
}
#titulo{
    height: 100px;
    width: 80%;
    text-align: center;    
    display: inline-block;
    margin: auto;
}